*{

	padding: 0px;
	margin: 0px;
}
#nav{

	background-color:black;
	width:100%;
	height:40px;
	color: ghostwhite;
	text-align:center;
	
}

body{

	background-image:url('background.png');
	background-size:cover;
}

button{

		background-color:bisque;
		color:black;
		font-family:fantasy;
		font-style: italic;
		height:50px;
		width: 90px;

}
#suits{

	background-image: url('suit.jpg');
	background-size: cover;
	width:100%;
	height:500px;
	text-align: center;
	color:#675667 ;


}
#perfumes{
	

	background-image: url('perfume.jpg');
	background-size: cover;
	width:100%;
	height:500px;
	text-align: center;
	color: gray;	
}

#watches{

	background-image: url('watch.jpg');
	background-size: cover;
	width:100%;
	height:500px;
	text-align: center;
	color: gray;

}

#shoes{

	background-image: url('shoes.jpg');
	background-size: cover;
	width:100%;
	height:500px;
	text-align: center;
	color: gray;

}
#footer{

	/*background-color: black;*/
	color: ghostwhite;
	width: 100%;
	height:400px;
}
.fp{
	padding-left: 450px;
	margin-top: -200px;
}
/*.sut{

	padding-top:300px;
	



}*/
.back{

	background-color:white;
	

}